.HomePage {
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Text {
    text-align: justify;
    padding-top: 15px;
    font-size: auto;
}

.Carousel {
    border-style: groove;
    border-radius: 5px;
}